* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.all-des {
    color: #757575;
    font-weight: 400;
    font-size: 18px;
}

.all-h2 {
    font-weight: 900;
    font-size: 45px;
    padding-bottom: 25px;
}

/* button styles */
.all-btn {
    background-color: #f55560;
    color: white;
    border: none;
    border-radius: 15px;
    height: 64px;
    padding: 18px 25px 18px 25px;
    font-weight: 700;
    font-size: 20px;
    cursor: pointer;
    margin-top: 30px;
}

.all-btn:hover {
    background-color: rgb(15, 238, 238);
    color: black;
}

/* Header Styles */
.bg-image {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)), url(images/donation0.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh;
    color: white;
    font-size: 40px;
    text-align: center;
    padding: 200px 230px;
}

.bg-des {
    font-weight: 400;
    font-size: 18px;
    color: white;
    margin: 10px 160px 20px 160px;
}

h1 {
    font-weight: 800;
    font-size: 80px;
}

/* Donate today Styles */

.donate-today {
    text-align: center;
    margin: 130px 350px 0px 350px;
}


.money-div {
    display: flex;
    padding: 45px 0px;
    justify-content: center;
}

.money {
    margin-right: 20px;
    height: 120px;
    width: 120px;
    border-style: solid;
    border-color: #756f6f;
    border-radius: 10px;
    font-size: 30px;
    font-weight: bolder;
    color: #756f6f;
    cursor: pointer;
}

.money:hover {
    color: #f55560;
    border-color: #f55560;
    background-color: rgb(247, 204, 245);
}

.donate-input {
    margin-bottom: 10px;
    border: none;
    color: #b7b7b7;
    font-size: large;
}

/* Donate plan Styles */
.donate-title {
    margin: 130px 450px 40px 450px;
    text-align: center;
}

.donate-container {
    display: flex;
    gap: 24px;
    margin: 0px 100px 0px 100px;
    padding: 30px;
    justify-content: space-between;
}

.donate-1 {
    background-color: rgb(225, 237, 237);
    border-radius: 5px;
    padding: 50px 25px;
    width: 360px;
    height: 252px;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
}

.donate-2 {
    background-color: #e2c2c4;
    border-radius: 5px;
    padding: 50px 25px;
    width: 360px;
    height: 252px;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
}

.donate-3 {
    background-color: rgb(216, 246, 187);
    border-radius: 5px;
    padding: 50px 25px;
    width: 360px;
    height: 252px;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
}

.plan-title {
    font-weight: 900;
    font-size: 28px;
    padding-bottom: 25px;
    margin: 15px 0px;
}

/* des img styles */

.des-img {
    display: flex;
    margin: 130px 100px 0px 135px;
}

.img-1 {
    height: 450px;
    width: 450px;
    border-radius: 5px
}

.img-div-1 {
    margin-right: 150px;
}


.des {
    margin: 10px 180px 0px 0px;
}

.des-1 {
    margin: 10px 180px 0px 150px;
}

/* update styles */

.update {
    text-align: center;
    margin: 130px 380px 0px 380px;
}

.emails {
    margin: 60px 350px 130px 350px;
    background-color: #ffd8d8;
    display: flex;
    height: 70px;
    padding: 40px 200px;
}


.btn-extra {
    height: 62px;
    width: 400px;
    border-radius: 5px 0px 0px 5px;
    border: none;
    background-color: #cbc8c9;
    padding-left: 25px;


}

.btn-extra::placeholder {
    color: #615656;
    font-size: 20px;
    font-weight: 400;

}

.btn-extra-1 {
    background-color: #f55560;
    color: white;
    border: none;
    border-radius: 0px 5px 5px 0;
    height: 64px;
    padding: 18px 25px 18px 25px;
    font-weight: 700;
    font-size: 20px;
    cursor: pointer;
}

.btn-extra-1:hover {
    background-color: rgb(15, 238, 238);
    color: black;
}

/* footer styles */
footer {
    background: rgb(0, 0, 14);
    height: 25vh;
    text-align: center;
    font-size: 20px;

}

.foot-title {
    color: #f55560;
    padding: 40px 250px 20px 250px;
    font-weight: 700;
    font-size: 36px;
}

.foot-des {
    color: #d8d8d8;
    font-weight: 400;
    font-size: 16px;
}